@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap');

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: bisque;
}



.wrapper{ 
  width: 100%;
  max-width: 550px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  background-color: #fff;
  border-radius: 8.95px;
  padding-bottom: 25px;
  
}

.navbar {
  width: 100%;
  max-width: 550px;
  margin: auto;
  box-shadow: 2px 3px 4px rgb(226, 225, 225);
  border-radius: 8.95px 8.95px 0 0;
  padding: 25px 0 ;
}

.logo,
.desc {
  padding-left: 36px;
}


/* BANNER SECTION */

.hero-section {
  margin: auto;
  width: 100%;
  max-width: 550px;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.hero-section img {
  width: 395.91px;
  
}

.desc {
  margin: auto;
  width: 100%;
  max-width: 550px;
}

.desc h1 {
  font-size: 36px;
}

.desc p {
  width: 100%;
  max-width: 320px;
  font-size: 15px;
  margin-top: -20px;
}


/* CARD SECTION */
.card-section {
  width: 100%;
  max-width: 550px;
  margin: auto;
  padding-top: 40px;
}
.card_one {
  line-height:0.8;
  padding-left: 36px;
}

.card-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding-top: 15px;
}

.card-info img {
  width: 14px;
}

.card-one-title {
  width: 100%;
  max-width: 176px;
  font-size: 12px;
}

.card-flex {
  display: flex;
}

  
  
  
  
  



